In [35]:
#by using selenium and webdriver we are extract the data from website
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [36]:
#we are using chrome browser as default
driver = webdriver.Chrome("Chromedriver.exe")

In [37]:
#nakuri website
url = 'https://www.naukri.com/'
driver.get(url)

In [38]:
#in the search  place we are going to search any word
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [39]:
#we sending words for searching
search_job.send_keys("Data Scientist")

In [40]:
#in the search  place we are going to search any word
search_location=driver.find_element_by_id("qsb-location-sugg")
search_location

In [41]:
#we sending words for searching
search_location.send_keys('Banagalore')

In [42]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [45]:
#getting all the url
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [46]:
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16215198205593793&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-modeling-nielsen-kolkata-gurgaon-gurugram-bangalore-bengaluru-vadodara-baroda-mumbai-all-areas-3-to-7-years-280421003878?src=jobsearchDesk&sid=16215198205593793&xp=2&px=1',
 'https://www.naukri.com/job-listings-big-data-data-scientist-xoriant-solutions-pvt-ltd-kochi-cochin-indore-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-130521005018?src=jobsearchDesk&sid=16215198205593793&xp=3&px=1',
 'https://www.naukri.com/job-listings-specialist-i-data-scientist-philips-india-limited-bangalore-bengaluru-4-to-7-years-170521500993?src=jobsearchDesk&sid=16215198205593793&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-110521907352?src=jobsearchDesk&sid=16215198205593793&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-intel-technology-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-070521500578?src=jobsearchDesk&sid=16215198205593793&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-190521008276?src=jobsearchDesk&sid=16215198205593793&xp=7&px=1',
 'https://www.naukri.com/job-listings-sde-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901434?src=jobsearchDesk&sid=16215198205593793&xp=8&px=1',
 'https://www.naukri.com/job-listings-computational-design-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901329?src=jobsearchDesk&sid=16215198205593793&xp=9&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-on-contract-basis-3-6-months-globaledx-learning-and-technology-solution-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-170521003581?src=jobsearchDesk&sid=16215198205593793&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-go-jek-india-bangalore-bengaluru-4-to-11-years-190521500736?src=jobsearchDesk&sid=16215198205593793&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-gojek-tech-bangalore-bengaluru-3-to-7-years-060521500524?src=jobsearchDesk&sid=16215198205593793&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-go-jek-india-bangalore-bengaluru-5-to-10-years-050521500478?src=jobsearchDesk&sid=16215198205593793&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nanobi-data-and-analytics-private-limited-bangalore-bengaluru-7-to-9-years-190521501055?src=jobsearchDesk&sid=16215198205593793&xp=14&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-valiance-analytics-private-limited-bangalore-bengaluru-delhi-ncr-6-to-8-years-180521006944?src=jobsearchDesk&sid=16215198205593793&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-bankbazaar-com-a-a-dukaan-financial-services-pvt-ltd-bangalore-bengaluru-4-to-6-years-040321006895?src=jobsearchDesk&sid=16215198205593793&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-associate-team-lead-data-scientist-consulting-analytics-india-magazine-bangalore-bengaluru-3-to-5-years-200521900965?src=jobsearchDesk&sid=16215198205593793&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-070521901521?src=jobsearchDesk&sid=16215198205593793&xp=18&px=1',
 'https://www.naukri.com/job-listings-hiring-for-lead-data-scientist-for-bangalore-location-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-5-to-9-years-130521000901?src=jobsearchDesk&sid=16215198205593793&xp=19&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-netapp-india-private-limited-bangalore-bengaluru-10-to-15-years-070521906988?src=jobsearchDesk&sid=16215198205593793&xp=20&px=1']

In [47]:
job_title=[]
job_descripition=[]
job_company=[]
job_location=[]

In [48]:
#getting all the value
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    
    try:
        jobs=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(jobs.text)
    except NoSuchElementException:
        job_title.append("-")
        
    try:
        jobs_des=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_descripition.append(jobs_des.text)
    except NoSuchElementException:
        job_descripition.append("-")
        
    try:
        jobs_com=driver.find_element_by_xpath("//div[@class='jd-header-comp-name']")
        job_company.append(jobs_com.text)
    except NoSuchElementException:
        job_company.append("-")
    
    try:
        jobs_loc=driver.find_element_by_xpath("//span[@class='location ']")
        job_location.append(jobs_loc.text)
    except NoSuchElementException:
        job_location.append("-")

In [49]:
print(len(job_title))
print(len(job_descripition))
print(len(job_company))
print(len(job_location))

10
10
10
10

In [53]:
#getting data frame
jobs=pd.DataFrame({})
jobs['job title']=job_title
jobs['job description']=job_descripition
jobs['company name']=job_company
jobs['location']=job_location

In [54]:
df=jobs

In [55]:
df

,job title,job description,company name,location
0,Data Scientist / Data Analyst -Business Analyst,Job description\nJob Role : Data Scientist/Dat...,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,"Senior Data Scientist, Modeling",Job description\nWe wont say we can predict th...,Nielsen3.8(475 Reviews),"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
2,-,-,-,-
3,Specialist I - Data Scientist,Job description\nResponsibilities and Key Resu...,Philips India Limited4.0(533 Reviews),Bangalore/Bengaluru
4,-,-,-,-
5,Lead Data Scientist,Job description\n\n\nWe are seeking an outstan...,Intel Technology India Pvt Ltd4.2(235 Reviews),Bangalore/Bengaluru
6,-,-,-,-
7,SDE Lead Data Scientist-L3,Job description\nBusiness & Team overview:\nFo...,Huawei Technologies India Pvt Ltd3.7(1323 Revi...,Bangalore/Bengaluru
8,Computational Design Lead Data Scientist-L3,Job description\nBusiness & Team overview:\nFo...,Huawei Technologies India Pvt Ltd3.7(1323 Revi...,Bangalore/Bengaluru
9,Hiring For DATA Scientist - ON Contract Basis ...,"Job description\nDear Aspirant,\n\nGreetings f...",GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."