In [1]:

#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
#chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

In [ ]:
#billboard
url = 'https://www.billboard.com/'
driver.get(url)

In [ ]:
button = driver.find_elements_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a')[0]
#button is clicked

In [ ]:
button.click()

In [ ]:
button2 = driver.find_elements_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[2]/div[1]')[0]

#button is clicked

In [ ]:
button2.click()

In [ ]:
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')

In [ ]:
#song is webscraped
song

In [ ]:
song1 = []
for i in song:
    song1.append(i.text)
song1

In [ ]:
artist_name = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')

In [ ]:
artist_name1 = []
for i in artist_name:
    artist_name1.append(i.text)
artist_name1

In [ ]:
last_week_rank = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')

In [ ]:
last_week_rank1 = []
for i in last_week_rank:
    last_week_rank1.append(i.text)
last_week_rank1

In [ ]:
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')

In [ ]:
peak1 = []
for i in peak:
    peak1.append(i.text)
peak1

In [ ]:
week_on_board = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')

In [ ]:
week_on_board

In [ ]:
week_on_board1 = []
for i in week_on_board:
    week_on_board1.append(i.text)
week_on_board1

In [63]:
print(len(song1))
print(len(artist_name1))
print(len(last_week_rank1))
print(len(peak1))
print(len(week_on_board1))

100
100
100
100
100

In [66]:
df = pd.DataFrame({})
df['song'] = song1
df['artist_name'] = artist_name1
df['last_week_rank'] = last_week_rank1
df['peak'] = peak1
df['week_on_board'] = week_on_board1

In [67]:
df

,song,artist_name,last_week_rank,peak,week_on_board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4