In [97]:
#selenium is used for extract data from website
#using google chrome
#trak.in website is used and the search button is used search  for user words

import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [98]:
driver = webdriver.Chrome("Chromedriver.exe")

In [99]:
url = 'https://trak.in/'
driver.get(url)

In [100]:
#clicking the funding button
search_job = driver.find_element_by_id("menu-item-51510")
search_job.click()

In [101]:
#extract the value for july20
july=driver.find_elements_by_xpath('//table[@id="tablepress-48"]/tbody/tr/td[2]')

In [103]:
july

[<selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="5d7d24af-5862-4d24-8178-826f9c04d700")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="29a71338-0925-4382-ab9f-88bb3eeb854b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="5917d3f3-f9d1-47de-a709-99bf80f44262")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="253f5538-9ce4-4fef-beaf-4995fb370f37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="65a6af41-600c-4027-9e43-0b1de9db3c8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="372f2275-f588-4ff6-9834-b62f9a92957f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="12739517-322e-4d10-b3fd-e9b1fc3f16eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="bf4ab2f0-ced1-436b-b1b4-c514bc6f18e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="71f78ea2-206f-4603-b250-20c850825a82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="8a03aca8-f4bd-4d22-860d-c74a3580a087")>]

In [104]:
day = []
for i in july:
    day.append(i.text)
day

['15/07/2020',
 '16/07/2020',
 '16/07/2020',
 '14/07/2020',
 '13/07/2020',
 '09/07/2020',
 '10/07/2020',
 '15/07/2020',
 '14/07/2020',
 '13/07/2020']

In [105]:
julystartup=driver.find_elements_by_xpath('//*[@id="tablepress-48"]/tbody/tr/td[3]')

In [106]:
startup = []
for i in julystartup:
    startup.append(i.text)
startup

['Flipkart',
 'Vedantu',
 'Crio',
 'goDutch',
 'Mystifly',
 'JetSynthesys',
 'gigIndia',
 'PumPumPum',
 'FLYX',
 'Open Appliances Pvt. Ltd.']

In [107]:
#getting value july2020 value
industry=driver.find_elements_by_xpath('//*[@id="tablepress-48"]/tbody/tr/td[4]')
sub=driver.find_elements_by_xpath('//*[@id="tablepress-48"]/tbody/tr/td[5]')
city=driver.find_elements_by_xpath('//*[@id="tablepress-48"]/tbody/tr/td[6]')
investor=driver.find_elements_by_xpath('//*[@id="tablepress-48"]/tbody/tr/td[7]')
investment=driver.find_elements_by_xpath('//*[@id="tablepress-48"]/tbody/tr/td[8]')
amount=driver.find_elements_by_xpath('//*[@id="tablepress-48"]/tbody/tr/td[9]')

In [108]:
industry

[<selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="1dcc17d7-2b9f-414a-92f6-b0d8f97dd881")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="94a1638c-a056-44cc-9b6f-9b2948734ebe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="a065e455-e135-446f-97f2-1581b1891bd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="9ef22eac-0332-47d1-9805-462254c69ed2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="1c2ab13d-9260-41c7-aa79-32786d10585a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="ef557b27-f8ce-4811-9dd9-5ab0bcbceb5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="793cb1f8-a4fc-4cce-b738-88062e22ee32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="2ca4ff92-abd8-46ed-be1a-96242a10b2ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="e56c029a-4e57-4117-9eed-94c12147112c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5c2eb5da253d2bd1afb44450b85affd", element="bdd2caa0-6bc9-4ed0-b562-d19b2868ed85")>]

In [109]:
industry_vertical = []
for i in industry:
    industry_vertical.append(i.text)
industry_vertical

['E-commerce',
 'EduTech',
 'EduTech',
 'FinTech',
 'Airfare Marketplace',
 'Gaming and Entertainment',
 'Marketplace',
 'Automotive Rental',
 'OTT Player',
 'Information Technology']

In [110]:
sub_vertical = []
for i in sub:
    sub_vertical.append(i.text)
sub_vertical

['E-commerce',
 'Online Tutoring',
 'Learning Platform for Developers',
 'Group Payments',
 'Ticketing, Airline Retailing, and Post-Ticketing Services',
 'Gaming and Entertainment',
 'Crowd Sourcing, Freelance',
 'Used Car-leasing platform',
 'Streaming Social Network',
 'Internet-of-Things Security Solutions']

In [111]:
city_location = []
for i in city:
    city_location.append(i.text)
city_location

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Singapore and Bangalore',
 'Pune',
 'Pune',
 'Gurgaon',
 'New York and Delhi',
 'Bangalore']

In [112]:
investor_name = []
for i in investor:
    investor_name.append(i.text)
investor_name

['Walmart Inc',
 'Coatue Management',
 '021 Capital',
 'Matrix India,Y Combinator, Global Founders Capital, Soma Capital, and VentureSouq.',
 'Recruit Co. Ltd.',
 'Adar Poonawalla and Kris Gopalakrishnan.',
 'Incubate Fund India and Beyond Next Ventures',
 'Early Adapters Syndicate',
 'Raj Mishra, founder of AIT Global Inc',
 'Unicorn India Ventures']

In [113]:
investment_type = []
for i in investment:
    investment_type.append(i.text)
investment_type

['M&A',
 'Series D',
 'pre-Series A',
 'Seed',
 'pre-Series B',
 'Venture-Series Unknown',
 'pre-Series A',
 'Seed',
 'pre-Seed',
 'Venture-Series Unknown']

In [114]:
amount_in_usd = []
for i in amount:
    amount_in_usd.append(i.text)
amount_in_usd

['1,200,000,000',
 '100,000,000',
 '934,160',
 '1,700,000',
 '3,300,000',
 '400,000',
 '974,200',
 '292,800',
 '200,000',
 '500,000']

In [115]:
print(len(day))
print(len(startup))
print(len(sub_vertical))
print(len(city_location))
print(len(investor_name))
print(len(investment_type))
print(len(amount_in_usd))

10
10
10
10
10
10
10

In [116]:
df=pd.DataFrame({})
df['day']=day
df['startup']=startup
df['city_location']=city_location
df['investor_name']=investor_name
df['investment_type']=investment_type
df['amount_in_usd']=amount_in_usd

In [117]:
 July20=df

In [126]:
 #July20

In [120]:
#getting value September20 value
july=driver.find_elements_by_xpath('//table[@id="tablepress-50"]/tbody/tr/td[2]')
julystartup=driver.find_elements_by_xpath('//*[@id="tablepress-50"]/tbody/tr/td[3]')
industry=driver.find_elements_by_xpath('//*[@id="tablepress-50"]/tbody/tr/td[4]')
sub=driver.find_elements_by_xpath('//*[@id="tablepress-50"]/tbody/tr/td[5]')
city=driver.find_elements_by_xpath('//*[@id="tablepress-50"]/tbody/tr/td[6]')
investor=driver.find_elements_by_xpath('//*[@id="tablepress-50"]/tbody/tr/td[7]')
investment=driver.find_elements_by_xpath('//*[@id="tablepress-50"]/tbody/tr/td[8]')
amount=driver.find_elements_by_xpath('//*[@id="tablepress-50"]/tbody/tr/td[9]')

In [121]:
day = []
for i in july:
    day.append(i.text)
day

['08/09/2020',
 '12/09/2020',
 '09/09/2020',
 '02/09/2020',
 '09/09/2020',
 '07/09/2020',
 '07/09/2020',
 '31/08/2020',
 '31/08/2020',
 '03/09/2020']

In [122]:
startup = []
for i in julystartup:
    startup.append(i.text)
startup

industry_vertical = []
for i in industry:
    industry_vertical.append(i.text)
industry_vertical

sub_vertical = []
for i in sub:
    sub_vertical.append(i.text)
sub_vertical

city_location = []
for i in city:
    city_location.append(i.text)
city_location

investor_name = []
for i in investor:
    investor_name.append(i.text)
investor_name

investment_type = []
for i in investment:
    investment_type.append(i.text)
investment_type

amount_in_usd = []
for i in amount:
    amount_in_usd.append(i.text)
amount_in_usd

print(len(day))
print(len(startup))
print(len(sub_vertical))
print(len(city_location))
print(len(investor_name))
print(len(investment_type))
print(len(amount_in_usd))

df=pd.DataFrame({})
df['day']=day
df['startup']=startup
df['city_location']=city_location
df['investor_name']=investor_name
df['investment_type']=investment_type
df['amount_in_usd']=amount_in_usd

September20=df

10
10
10
10
10
10
10

In [123]:
September20

,day,startup,city_location,investor_name,investment_type,amount_in_usd
0,08/09/2020,Byju’s,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...",Private Equity,"500,000,000"
1,12/09/2020,mCaffeine,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
2,09/09/2020,Qshala,Bangalore,Rainmatter Capital,Angel,"370,000"
3,02/09/2020,Winzo,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
4,09/09/2020,Hippo Video,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
5,07/09/2020,Melorra,Bangalore,"Shadow Holdings, Lightbox.",Debt Financing,"upto 8,900,000"
6,07/09/2020,1mg,Gurgaon,"Gaja Capital, Tata Capital, Partners Group",In Progress,"100,000,000"
7,31/08/2020,mfine,Bangalore,Caretech Pte Inc,Series B,"5,400,000"
8,31/08/2020,Apna,Bangalore,Lightspeed India and Sequoia Capital India,Series A,"8,000,000"
9,03/09/2020,Railofy,Mumbai,Chiratae Ventures,Seed,"950,000"

In [125]:
 July20

,day,startup,city_location,investor_name,investment_type,amount_in_usd
0,15/07/2020,Flipkart,Bangalore,Walmart Inc,M&A,"1,200,000,000"
1,16/07/2020,Vedantu,Bangalore,Coatue Management,Series D,"100,000,000"
2,16/07/2020,Crio,Bangalore,021 Capital,pre-Series A,"934,160"
3,14/07/2020,goDutch,Mumbai,"Matrix India,Y Combinator, Global Founders Cap...",Seed,"1,700,000"
4,13/07/2020,Mystifly,Singapore and Bangalore,Recruit Co. Ltd.,pre-Series B,"3,300,000"
5,09/07/2020,JetSynthesys,Pune,Adar Poonawalla and Kris Gopalakrishnan.,Venture-Series Unknown,"400,000"
6,10/07/2020,gigIndia,Pune,Incubate Fund India and Beyond Next Ventures,pre-Series A,"974,200"
7,15/07/2020,PumPumPum,Gurgaon,Early Adapters Syndicate,Seed,"292,800"
8,14/07/2020,FLYX,New York and Delhi,"Raj Mishra, founder of AIT Global Inc",pre-Seed,"200,000"
9,13/07/2020,Open Appliances Pvt. Ltd.,Bangalore,Unicorn India Ventures,Venture-Series Unknown,"500,000"