# 1 . Scrape the details of most viewed videos on YouTube from Wikipedia:

In [2]:
#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

#wikipedia is used for webscraping
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

rank1 = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]')
rank1

#rank is scraped

rank=[]
for i in rank1:
    rank.append(i.text)
rank

video_name1 = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]')
video_name1

#video name is scraped

video_name=[]
for i in video_name1:
    video_name.append(i.text)
video_name

#artist name is webscraped
artist1 = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]')
artist1

artist = []
for i in artist1:
    artist.append(i.text)
artist

#no of views is scraped
view1 = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]')
view1

view = []
for i in view1:
    view.append(i.text)
view

upload1 = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]')
upload1
#no of upload is scraped

upload = []
for i in upload1:
    upload.append(i.text)
upload

print(len(rank))
print(len(video_name))
print(len(artist))
print(len(view))
print(len(upload))

#dataframe is used 
df=pd.DataFrame({})
df['rank']=rank
df['video_name']=video_name
df['artist']=artist
df['view']=view
df['upload']=upload

df

30
30
30
30
30

,rank,video_name,artist,view,upload
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.78,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.40,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.46,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.35,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.14,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.15,"February 27, 2018"
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.14,"May 2, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.09,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.92,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.39,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.37,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.32,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.09,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.08,"December 3, 2015"
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
20,21.,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
21,22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
22,23.,"""Girls Like You""[48]",Maroon 5,3.05,"May 31, 2018"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.04,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.01,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.87,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.85,"June 4, 2010"
28,29.,"""Hello""[54]",Adele,2.84,"October 22, 2015"
29,30.,"""Axel F""[55]",Crazy Frog,2.83,"June 16, 2009"

# 2.Scrape the details team India’s international fixtures from bcci.tv

In [43]:
##using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

#bcci
url = 'https://www.bcci.tv/'
driver.get(url)

inter = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]')[0]

#international button is clicked

inter.click()

#fixture button is clicked

interfix = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')[0]

interfix.click()

matchtitle = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[1]/span[2]')

matchtitle

matchtitle1 = []
for i in matchtitle:
    matchtitle1.append(i.text)
matchtitle1
#matchtitle is scraped

len(matchtitle1)

place = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/span')
place

place1 = []
for i in place:
    place1.append(i.text)
place1
#place have been scraped

len(place1)

#data scraped
date = driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]')

date1 = []
for i in date:
    date1.append(i.text)
date1

len(date1)

df = pd.DataFrame({})
df['matchtitle1'] = matchtitle1
df['place'] = place1
df['date & time'] = date1
df

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.106)

# 3 Scrape the details of selenium exception from guru99.com

In [17]:
#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

#guru web site is used
url = 'https://www.guru99.com/exception-handling-selenium.html'
driver.get(url)


name = driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]')
name
#name is scraped

name1 = []
for i in name:
    name1.append(i.text)
name1

desc = driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]')
desc

desc1 = []
for i in desc:
    desc1.append(i.text)
desc1
#description is scraped

print(len(name))
print(len(desc))

#dataframe is used
df = pd.DataFrame({})
df['name']=name1
df['description']=desc1

df

42
42

,name,description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4 Scrape the details of State-wise GDP of India from statisticstime.com

In [20]:
#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

##chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

#staticticstimes is used
url = 'http://statisticstimes.com/economy/india/indian-states-gdp.php'
driver.get(url)

#state  is webscraped
state = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]')
state

state1 = []
for i in state:
    state1.append(i.text)
state1

rank = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]')
rank    
#rank  is webscraped

rank1 = []
for i in rank:
    rank1.append(i.text)
rank1

#gsdp1  is webscraped
GSDP1 = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]')
GSDP1 

GSDP = []
for i in GSDP1:
    GSDP.append(i.text)
GSDP

#share is webscraped
share = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]')
share

share1 = []
for i in share:
    share1.append(i.text)
share1

#gdp is webscraped
gdp= driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]')
gdp

gdp1 = []
for i in gdp:
    gdp1.append(i.text)
gdp1


print(len(state1))
print(len(rank1))
print(len(GSDP))
print(len(share1))
print(len(gdp1))

#dataframe is used
df = pd.DataFrame({})
df['rank'] = rank1
df['state'] = state1
df[' GSDP(18-19)'] = GSDP
df['share'] = share1
df['gdp1'] = gdp1 

df

33
33
33
33
33

   rank                      state  GSDP(18-19)   share     gdp1
0     1                Maharashtra    2,632,792  13.94%  399.921
1     2                 Tamil Nadu    1,630,208   8.63%  247.629
2     3              Uttar Pradesh    1,584,764   8.39%  240.726
3     4                    Gujarat    1,502,899   7.96%  228.290
4     5                  Karnataka    1,493,127   7.91%  226.806
5     6                West Bengal    1,089,898   5.77%  165.556
6     7                  Rajasthan      942,586   4.99%  143.179
7     8             Andhra Pradesh      862,957   4.57%  131.083
8     9                  Telangana      861,031   4.56%  130.791
9    10             Madhya Pradesh      809,592   4.29%  122.977
10   11                     Kerala      781,653   4.14%  118.733
11   12                      Delhi      774,870   4.10%  117.703
12   13                    Haryana      734,163   3.89%  111.519
13   14                      Bihar      530,363   2.81%   80.562
14   15                     Punjab      526,376   2.79%   79.957
15   16                     Odisha      487,805   2.58%   74.098
16   17                      Assam      315,881   1.67%   47.982
17   18               Chhattisgarh      304,063   1.61%   46.187
18   19                  Jharkhand      297,204   1.57%   45.145
19   20                Uttarakhand      245,895   1.30%   37.351
20   21            Jammu & Kashmir      155,956   0.83%   23.690
21   22           Himachal Pradesh      153,845   0.81%   23.369
22   23                        Goa       73,170   0.39%   11.115
23   24                    Tripura       49,845   0.26%    7.571
24   25                 Chandigarh       42,114   0.22%    6.397
25   26                 Puducherry       34,433   0.18%    5.230
26   27                  Meghalaya       33,481   0.18%    5.086
27   28                     Sikkim       28,723   0.15%    4.363
28   29                    Manipur       27,870   0.15%    4.233
29   30                   Nagaland       27,283   0.14%    4.144
30   31          Arunachal Pradesh       24,603   0.13%    3.737
31   32                    Mizoram       22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands            -       -        -

# 5 Scrape the details of trending repositories on Github.com.

In [21]:
#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

#github is used
url = 'https://github.com/'
driver.get(url)

#button is clicked
button = driver.find_elements_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')[0]

button.click()

#button is clicked

button = driver.find_elements_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')[0]

button.click()

#getting the url 
urls=[]
for i in driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a'):
    urls.append(i.get_attribute("href"))
    
    
#declare the array
Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []

#using for loop webscrapinf the data using exception handling
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    
    try:
        jobs=driver.find_element_by_xpath('//*[@id="js-repo-pjax-container"]/div[1]/div[1]/div/h1/span[1]/a')
        Repository_title.append(jobs.text)
    except NoSuchElementException:
        Repository_title.append("-")
        
    try:
        jobs_des=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[1]/div/p')
        Repository_description.append(jobs_des.text)
    except NoSuchElementException:
        Repository_description.append("-")
        
    try:
        jobs_com=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[4]/div/h2/a/span')
        Contributors_count.append(jobs_com.text)
    except NoSuchElementException:
        Contributors_count.append("-")
    
    try:
        jobs_loc=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[5]/div/ul/li[1]/a/span[1]')
        Language_used.append(jobs_loc.text)
    except NoSuchElementException:
        Language_used.append("-")
        
        
print(len(Repository_title))
print(len(Repository_description))
print(len(Contributors_count))
print(len(Language_used))


#dataframe is used
df = pd.DataFrame({})

df['Repository_title']=Repository_title
df['Repository_description']=Repository_description
df['Contributors_count']=Contributors_count
df['Language_used']=Language_used


df

10
10
10
10

,Repository_title,Repository_description,Contributors_count,Language_used
0,nushell,A new type of shell,232,Rust
1,thanos-io,Highly available Prometheus setup with long te...,8,-
2,keras-team,Deep Learning for humans,-,-
3,vercel,The React Framework,322k,-
4,chromium,The official GitHub mirror of the Chromium source,-,-
5,google,Libraries and tools to perform fully homomorph...,-,-
6,AkashSingh3031,This repository contains all the DSA (Data-Str...,-,-
7,programthink,【编程随想】收藏的电子书清单（多个学科，含下载链接）,-,-
8,vxunderground,Collection of malware source code for a variet...,-,-
9,monyhar,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,-,-

# 6 Scrape the details of top 100 songs on billiboard.com

In [23]:
#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

#billboard
url = 'https://www.billboard.com/'
driver.get(url)

button = driver.find_elements_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a')[0]
#button is clicked

button.click()

button2 = driver.find_elements_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[2]/div[1]')[0]

#button is clicked

button2.click()


song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')

#song is webscraped
song

song1 = []
for i in song:
    song1.append(i.text)
song1

artist_name = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')

artist_name1 = []
for i in artist_name:
    artist_name1.append(i.text)
artist_name1

last_week_rank = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')

last_week_rank1 = []
for i in last_week_rank:
    last_week_rank1.append(i.text)
last_week_rank1

peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')

peak1 = []
for i in peak:
    peak1.append(i.text)
peak1

week_on_board = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')

week_on_board

week_on_board1 = []
for i in week_on_board:
    week_on_board1.append(i.text)
week_on_board1

print(len(song1))
print(len(artist_name1))
print(len(last_week_rank1))
print(len(peak1))
print(len(week_on_board1))

df = pd.DataFrame({})
df['song'] = song1
df['artist_name'] = artist_name1
df['last_week_rank'] = last_week_rank1
df['peak'] = peak1
df['week_on_board'] = week_on_board1


df

100
100
100
100
100

,song,artist_name,last_week_rank,peak,week_on_board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

# 7.Scrape the details of Data science recruiters from naukri.com

In [44]:
#by using selenium and webdriver we are extract the data from website
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#we are using chrome browser as default
driver = webdriver.Chrome("Chromedriver.exe")

#nakuri website
url = 'https://www.naukri.com/'
driver.get(url)

click = driver.find_elements_by_xpath('//*[@id="root"]/div[1]/div/ul/li[2]/a')[0]

click.click()

#nakuri website
url = 'https://www.naukri.com/data-analyst-recruiters'
driver.get(url)

name1=[]

try:

    name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')

    for i in name:

        name1.append(i.text)

except NoSuchElementException:#handling no such element exception

    name1.append('No details available')

print(len(name1))
name1



desgination1=[]

try:

    desgination = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')

    for i in desgination:

        desgination1.append(i.text)

except NoSuchElementException:#handling no such element exception

    desgination1.append('No details available')

print(len(desgination1))
desgination1

company1 = []
try:

    company = driver.find_elements_by_xpath('//i[@class="cmpIcn"]')

    for i in company:

        company1.append(i.text)

except NoSuchElementException:#handling no such element exception

    company1.append('No details available')

print(len(company1))
company1



skills_they_hire_for1 = []
try:

    skills_they_hire_for = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')

    for i in skills_they_hire_for:

        skills_they_hire_for1.append(i.text)

except NoSuchElementException:#handling no such element exception

    skills_they_hire_for1.append('No details available')

print(len(skills_they_hire_for1))
skills_they_hire_for1

location1 = []
try:

    location = driver.find_elements_by_xpath('//small[@class="ellipsis"]')

    for i in location:

        location1.append(i.text)

except NoSuchElementException:#handling no such element exception

    location1.append('No details available')

print(len(location1))
location1

df=pd.DataFrame({})
df['name']=name1
df['desgination']=desgination1
df['company']=company1
df['skills_they_hire_for']=skills_they_hire_for1
df['location']=location1


df

50
50
50
50
50

,name,desgination,company,skills_they_hire_for,location
0,HR,HR,,"Us English Language, Msexcel Advanced",Coimbatore
1,Ankur Agarwal,Resource Management,,"SAP, Permissions, Designer, Marketing, Manufac...",Hyderabad / Secunderabad
2,victorious javin,Owner of the company,,"Excel, Word, Powerpoint, Data Management, Data...",Gurgaon
3,Phanindra,Company Recruiter,,Data Management,Warangal
4,LOKAMBA T H,Senior Data Analyst,,"Advanced Excel, Vba, Sql, Mis Reporting, Dashb...",Bengaluru / Bangalore
5,Jose K Kurian,Company Recruiter,,"Data Collection, Data Interpretation, Results ...",Gurgaon
6,Manisha Sahu,Senior HR Associate,,"Investment Banking, Technical Support, Bpo, Kp...",Bengaluru / Bangalore
7,Aamir Mian,Company Recruiter,,Not Specified,Mumbai
8,Rohini Rajamani,HR Lead,,"BI and BA, HANA, BW, BO, Design Analytics, CMC...",Bengaluru / Bangalore
9,akash murthy,Human Resource Manager,,"Python, javascript, Java, MongoDB, AWS, Machin...",Bengaluru / Bangalore
10,srinivasan singh,Hiring Manager,,"Data Analyst, Ibm Infosphere, Erwin, Oracle Ed...",Chennai
11,Nova Maria Devasia,HR Executive,,"Android, Java, Linux Kernel, Data Analyst",Mumbai
12,Karthik,HR Recruiter,,"Java, C, C++, Manual Testing, Automation Tetsi...",Chennai
13,Sandhya,Consultant Recruitment,,"Data Analyst, Principal Engineer, senior data ...",Pune
14,NSMX,HR,,"Survey Programming, Data Analyst, Sampling, Fi...",Delhi
15,J LAWRENCE SUJITH,Manager Recruitment,,Our trustable companies,Chennai
16,Eminent,HR/Admin,,"Client Relationship, Technical Sales, Digital ...",Noida
17,Ankur Dagar,Talent Aquisition Specialist,,"Analyst, Security Engineer, System Admin, Data...",Noida
18,Karthick Guruswamy,Senior Consultant,,"Business Development, Business Analyst, Direct...",Chennai
19,Dileep,HR Manager,,"Opportunities for freshers., Jr. Data Analyst",Trivandrum
20,Prashant K,Sr HR,,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
21,Hr Manager,Hr Manager,,"Microsoft Word, Microsoft Excel, Search Engine...",Delhi
22,Rekha Singh,Recruitment Consultant,,"Information Technology, Software Development, ...",Bengaluru / Bangalore
23,SG,Sr. HR Executive - Recruitment,,"Java, J2ee, .net c# asp.net sql server, oracle...",Chennai
24,Ramesh Chary Arravalli,Senior HR Executive,,"Ar Calling, Claims Adjudication, Process Assoc...",Hyderabad / Secunderabad
25,Blueberry Digital Labs,HR,,"Node.js, Html, Css, Nosql, Web Designing, Web ...",Hyderabad / Secunderabad
26,Abhinav Shrivastava,Business Head,,"Data Analytics, Data Analysis, Sales Operation...",Indore
27,Durga Devi B,HR Generalist Assistant,,"Software Development, Data Analytics",Bengaluru / Bangalore
28,RIBBUN SOFTWARE PVT LTD,Administration Executive,,"Internet Surfing, Data Updation, Data Monitori...",Jaipur
29,Jayashree,HR Manager,,Data Analysis,Hosur
30,Shashikant Sethy,Head Operations,,Not Specified,Bengaluru / Bangalore
31,Parthasarathy,Business Head,,"Excel, Word, Internet, English Typing",Bengaluru / Bangalore
32,Krishna Sain,Company Recruiter,,"Data Science, Big Data, Big Data Analytics",Bengaluru / Bangalore
33,Venkat Ragavan,Director,,Not Specified,Bengaluru / Bangalore
34,Arati Kumari,HR Executive,,"Prospect Profiling, Inside Sales, Market Resea...",Delhi
35,Anil Jaitly,VP Technology,,Not Specified,Mumbai
36,Vaidehi,Talent Acquisition Strategist,,"HR Consulting firms, BIG4, Top CA Consulting f...",Hyderabad / Secunderabad
37,Hephzibah Joy,Research Associate,,"finance, Technical Support, functional, fintec...",Gurgaon
38,Naresh,Data Analyst,,Not Specified,Hyderabad / Secunderabad
39,Akshita Gujral,Data Analyst,,Not Specified,Noida
40,IMROZ KHAN,Recruitment Specialist,,"Data Analyst, Research Writer, Content Managem...",Pune
41,Vishakh A,Talent Acquisition Specialist,,"Msbi, Microsoft Power Bi, Data Warehousing, Ss...",Bengaluru / Bangalore
42,Ashudeep yadav,Recruiter,,"Software Testing, It Recruitment, Software, So...",Agra
43,Vandhana N,Talent Search Specialist,,"Analytics, BI, Datawarehousing, Big Data, Hado...",Bengaluru / Bangalore
44,Beauty Roy,Managing Consultant,,"Corporate Sales, claims, underwriting, Busines...",Mumbai
45,Swati Balaji,Human Resources Recruiter,,"Good Coomunication, Self Correspondence, Short...",Chennai
46,Bandita Sahoo,Director,,"Stock Broking, Client Acquisition, dealing, Co...",Visakhapatnam
47,Yogkesh Kumar,Human Resource,,"Data Analysis, SQL, Tableau, Power Bi, Data Mo...",Bengaluru / Bangalore
48,Hiral,Talent Acquisition Specialist,,"Embedded, Unix Shell Scripting, C Programming,...",Bengaluru / Bangalore
49,Aakash Sinha,Company HR,,"Analytical Skills, Communication Skills, MS Of...",Gurgaon

# 8 Scrape the details of Highest selling novels.

In [24]:
#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

#guardian website is used
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)


#getting all the value
rank=[]

try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[1]")

    for i in names:

        rank.append(i.text)

except NoSuchElementException:#handling no such element exception

    rank.append('No details available')

print(len(rank))


book_name=[]

try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")

    for i in names:

        book_name.append(i.text)

except NoSuchElementException:#handling no such element exception

    book_name.append('No details available')

print(len(book_name))

volume_sales=[]

try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")

    for i in names:

        volume_sales.append(i.text)

except NoSuchElementException:#handling no such element exception

    volume_sales.append('No details available')

print(len(volume_sales))

author = []
try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")

    for i in names:

        author.append(i.text)

except NoSuchElementException:#handling no such element exception

    author.append('No details available')

print(len(author))

publisher = []
try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")

    for i in names:

        publisher.append(i.text)

except NoSuchElementException:#handling no such element exception

    publisher.append('No details available')

print(len(publisher))

genre = []
try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

    for i in names:

        genre.append(i.text)

except NoSuchElementException:#handling no such element exception

    genre.append('No details available')

print(len(genre))

rank
author
book_name
volume_sales
publisher
genre
#dataframe is used
df = pd.DataFrame({})
df['rank'] = rank
df['author'] = author
df['book name'] = book_name
df['volume sales'] = volume_sales
df['publisher'] = publisher
df['genre'] = genre

df

100
100
100
100
100
100

,rank,author,book name,volume sales,publisher,genre
0,1,"Brown, Dan","Da Vinci Code,The","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,"Rowling, J.K.",Harry Potter and the Deathly Hallows,"4,475,152",Bloomsbury,Children's Fiction
2,3,"Rowling, J.K.",Harry Potter and the Philosopher's Stone,"4,200,654",Bloomsbury,Children's Fiction
3,4,"Rowling, J.K.",Harry Potter and the Order of the Phoenix,"4,179,479",Bloomsbury,Children's Fiction
4,5,"James, E. L.",Fifty Shades of Grey,"3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Harris, Robert","Ghost,The","807,311",Random House,General & Literary Fiction
96,97,"Oliver, Jamie",Happy Days with the Naked Chef,"794,201",Penguin,Food & Drink: General
97,98,"Collins, Suzanne","Hunger Games,The:Hunger Games Trilogy","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Pelzer, Dave","Lost Boy,The:A Foster Child's Search for the L...","791,507",Orion,Biography: General
99,100,"Oliver, Jamie",Jamie's Ministry of Food:Anyone Can Learn to C...,"791,095",Penguin,Food & Drink: General

# 9 Scrape the details most watched tv series of all time from imdb.com.

In [25]:
#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#chromeweb browser is used
driver = webdriver.Chrome('Chromedriver.exe')

#imdb website is used
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

#name is webscraped
name = driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div[2]/h3/a')

name

name1 = []
for i in name:
    name1.append(i.text)
name1

#year span is webscraped
year_span = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')

year_span1 = []
for i in year_span:
    year_span1.append(i.text)
year_span1

#span is webscraped
span = driver.find_elements_by_xpath('//span[@class="genre"]')

span1 = []
for i in span:
    span1.append(i.text)
span1

#runtime is webscraped
runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')

runtime1 = []
for i in runtime:
    runtime1.append(i.text)
runtime1

#rate is webscraped
rate = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')

rate1 = []
for i in rate:
    rate1.append(i.text)
rate1

#vote is webscraped
vote = driver.find_elements_by_name('nv')

vote

vote1 = []
for i in vote:
    vote1.append(i.text)
vote1

print(len(name1))
print(len(year_span1))
print(len(span1))
print(len(runtime1))
print(len(rate1))
print(len(vote1))

#data frame is used
df = pd.DataFrame({})
df['name'] = name1
df['year_span'] = year_span1
df['span'] = span1
df['runtime'] = runtime1
df['rate1'] = rate1
df['vote'] = vote1

df

100
100
100
100
100
100

,name,year_span,span,runtime,rate1,vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,824,154"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"864,426"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,780"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,783"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,151"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,587"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,094"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,867"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,903"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,547"

# 10  Details of Datasets from UCI machine learning repositories

In [26]:
#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

#chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

#ics website is used
url = 'https://archive.ics.uci.edu/'
driver.get(url)

#button is clicked
button = driver.find_elements_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')[0]

button.click()

#value are webscraped
dataset_name=[]

try:

    names=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')

    for i in names:

        dataset_name.append(i.text)

except NoSuchElementException:#handling no such element exception

    dataset_name.append('No details available')

print(len(dataset_name))


data_type1=[]

try:

    data_type=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')

    for i in data_type:

        data_type1.append(i.text)

except NoSuchElementException:#handling no such element exception

    data_type1.append('No details available')

print(len(data_type1))

task1=[]

try:

    task=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')

    for i in task:

        task1.append(i.text)

except NoSuchElementException:#handling no such element exception

    task1.append('No details available')

print(len(task1))


attribute_type1=[]

try:

    attribute_type=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')

    for i in attribute_type:

        attribute_type1.append(i.text)

except NoSuchElementException:#handling no such element exception

    attribute_type1.append('No details available')

print(len(attribute_type1))


no_of_instance1=[]

try:

    no_of_instance=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')

    for i in no_of_instance:

        no_of_instance1.append(i.text)

except NoSuchElementException:#handling no such element exception

    no_of_instance1.append('No details available')

print(len(no_of_instance1))


year1=[]

try:

    year=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')

    for i in year:

        year1.append(i.text)

except NoSuchElementException:#handling no such element exception

    year1.append('No details available')

print(len(year1))


no_of_attribute1=[]

try:

    no_of_attribute=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')

    for i in no_of_attribute:

        no_of_attribute1.append(i.text)

except NoSuchElementException:#handling no such element exception

    no_of_attribute1.append('No details available')

print(len(no_of_attribute))

#dataframe is used

df=pd.DataFrame({})
df['dataset_name']=dataset_name
df['data_type']=data_type1
df['task']=task1
df['attribute_type']=attribute_type1
df['no_of_instance']=no_of_instance1
df['no_of_attribute']=no_of_attribute1
df['year']=year1

df

df = df.drop(labels=0, axis=0)

df

589
589
589
589
589
589
589

,dataset_name,data_type,task,attribute_type,no_of_instance,no_of_attribute,year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021